.store-container,
.store-container-update {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90vw;
}

.shoe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  /* box-shadow: inset; */
  margin: 0.1rem;
  /* flex: 1; */
  width: 20rem;
  height: 30rem;
}
.shoe-container-one-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35rem;
  height: 35rem;
  margin: auto;
}

.shoe,
.shoe-link {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 90%;
  padding: 0.5rem;
  height: 90%;
  transition: all 0.2s;
}

.shoe-link {
  padding: 0;
  height: 70%;
}

.shoe:hover {
  transform: scale(1.03);
}

.update-buttons {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 1rem;
}
