.chat-friends-view-container {
  height: 100%;
  width: 25%;
  background-color: rgb(202, 211, 211);
  overflow-y: scroll;
}
@media screen and (max-width: 430px) {
  .chat-friends-view-container {
    height: 60vh;
  }
}

.friend-container {
  width: 99%;
  height: 5rem;
  margin: 0.5rem auto;
  height: 5rem;
  border: 1px solid black;
  background-color: rgba(210, 245, 200, 0.715);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1rem;
  cursor: pointer;
}

.chat-friends-view-container > *:nth-child(even) {
  background-color: rgba(197, 241, 241, 0.71);
}
.freind-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.friend-name {
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
}

.new-msg-from-friend {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: rgb(39, 239, 55);
  color: white;
  text-align: center;
}

.last-massage {
  display: flex;
  font-size: smaller;
  /* justify-content: space-evenly; */
}

.last-massage > div {
  margin: 0 0.3rem;
}
