.homepage-container {
  height: 70vh;
  width: 90vw;
  margin: auto;
  background-color: red;
}

/* second componenet -card */
.person-card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(24, 23, 23);
  width: 13rem;
  height: 13rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.card-img {
  width: 70%;
  height: 70%;
  border-radius: 50%;
}
