.navbar {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: #64dcdc;
  background-image: url("./socialbg.jpg");
  /* background-image: url("https://st4.depositphotos.com/1006328/29275/v/1600/depositphotos_292756792-stock-illustration-dancing-old-people-happy-aged.jpg"); */
  align-items: center;
  /* background-size: contain; */
  /* background-clip: content-box; */
  background-repeat: no-repeat;
  /* background-size: 60vw 15vh; */
  /* border: 1px solid black; */
}

a {
  text-decoration: none;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* border: 1px solid red; */
}

.logo {
  display: flex;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.small-font {
  font-size: smaller;
  color: rgb(58, 58, 58);
}

.profile-img-navbar {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 2px solid blue;
}
