.navbar {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  background-color: gold;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

.navbar-links {
  display: flex;
  width: 50%;
  height: 3rem;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
