.navbar {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: #64dcdc;
  background-image: url("./socialbg.jpg");
  /* background-image: url("https://st4.depositphotos.com/1006328/29275/v/1600/depositphotos_292756792-stock-illustration-dancing-old-people-happy-aged.jpg"); */
  align-items: center;
  /* background-size: contain; */
  /* background-clip: content-box; */
  background-repeat: no-repeat;
  /* background-size: 60vw 15vh; */
  /* border: 1px solid black; */
}

a {
  text-decoration: none;
}

.navbar-links {
  display: flex;
  /* flex-direction: column; */
  width: 10%;
  /* height: 3rem; */
  justify-content: space-around;
  margin-right: 4rem;
  align-items: center;
  font-weight: bold;
  /* border: 1px solid red; */
}

.logo {
  display: flex;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.small-font {
  font-size: smaller;
  color: rgb(58, 58, 58);
}

.profile-img-navbar {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 2px solid blue;
}

.notification {
  background-color: rgba(128, 128, 128, 0.795);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}

.notification-num {
  font-size: 1rem;
  background: red;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  position: absolute;
  top: 0;
  right: -0.7rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}
